body{
    background-color: black;
    font-family:'Times New Roman', Times, serif;
}
.waiting{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
}